<div class="destination position-relative">
  <img
    src="./../../../../assets/destination/destination-page-header-bg-77671684.jpg"
    alt="header"
    height="220"
  />
  <h2 class="destination__heading position-absolute">Destinations</h2>
</div>
<div class="destination__list container w-100 m-auto p-4">
  <div class="text-center">
    <h3 class="destination__subheading mt-5 mb-2 ">Destination lists</h3>
  <span class="text-dark fw-bold fs-1">Go Exotic Places</span>
  </div>
  <div class="row destination__list gx-2">

    <div class="destiantion__country col-md-3">
      <div class=" destiantion__details position-relative">
        <a [routerLink]="['/destiantiondetails']">
          <img class="w-100" [src]="destinations[0].imgUrl" alt="tiland" />
          <h4 class="position-absolute destiantion__countryname fw-bold">
            {{ destinations[0].name }}
          </h4>
        </a>
      </div>
    </div>


    <div class="destiantion__country col-md-6 ">
        <div class=" destiantion__details position-relative">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100" [src]="destinations[1].imgUrl" alt="tiland" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[1].name }}
            </h4>
          </a>
        </div>
      </div>

      <div class="destiantion__country col-md-3 ">
        <div class=" destiantion__details position-relative">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100" [src]="destinations[2].imgUrl" alt="tiland" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[2].name }}
            </h4>
          </a>
        </div>
      </div>

      <div class="destiantion__country col-md-6">
        <div class=" destiantion__details position-relative">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100" [src]="destinations[3].imgUrl" alt="tiland" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[3].name }}
            </h4>
          </a>
        </div>
      </div>

      <div class="destiantion__country col-md-6">
        <div class=" destiantion__details position-relative">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100" [src]="destinations[4].imgUrl" alt="tiland" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[4].name }}
            </h4>
          </a>
        </div>
      </div>

      <div class="destiantion__country col-md-3">
        <div class=" destiantion__details position-relative">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100 img-height" [src]="destinations[5].imgUrl" alt="tiland" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[5].name }}
            </h4>
          </a>
        </div>
      </div>


      <div class="destiantion__country col-md-3">

        <div class=" destiantion__details position-relative pb-2">
            <a [routerLink]="['/destiantiondetails']">
              <img class="w-100 " [src]="destinations[7].imgUrl" alt="tiland" />
              <h4 class="position-absolute destiantion__countryname fw-bold">
                {{ destinations[7].name }}
              </h4>
            </a>
          </div>
        <div class=" destiantion__details position-relative">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100 " [src]="destinations[6].imgUrl" alt="tiland" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[6].name }}
            </h4>
          </a>
        </div>
        
      </div>

      <div class="destiantion__country col-md-3 ">
        <div class=" destiantion__details position-relative pb-2">
          <a [routerLink]="['/destiantiondetails']">
            <img class="w-100 " [src]="destinations[9].imgUrl" alt="tiland" height="250" />
            <h4 class="position-absolute destiantion__countryname fw-bold">
              {{ destinations[9].name }}
            </h4>
          </a>
        </div>
        <div class=" destiantion__details position-relative">
            <a [routerLink]="['/destiantiondetails']">
              <img class="w-100 " [src]="destinations[8].imgUrl" alt="tiland" />
              <h4 class="position-absolute destiantion__countryname fw-bold">
                {{ destinations[8].name }}
              </h4>
            </a>
          </div>
      </div>


      <div class="destiantion__ad col-md-3 ">
        <span class="discount fs-6 fw-bold text-lg-start">Up To 30% Off</span>
        <h5 class="ad-heading">Summer</h5>
        <h5 class="ad-subheading">Hot Deals</h5>
        <button class="btn btn-light p-4 ad-btn d-block m-auto mt-5 fw-bold">View Details</button>
      </div>
      
  </div>
</div>
