@import "../../../../styles/main";

.destination {
  .destination__heading {
    top: 12%;
    left: 3%;
    font-family: $main-font;
    color: $color-card-details-badge;
    font-size: 3rem;
  }
}

.destination__list {
    font-family: $main-font;

    margin-top: 50px;
    .destiantion__ad{
        background-color: $color-primary;
        height: 515px;
        border: 5px solid white;
        border-radius: 10px;
        color: white;
        padding-top: 170px;
        .discount{
            text-align: start;
            margin: .5rem;
        }
        .ad-heading{
            text-indent: 40px;
            font-family: $accent-font;
            margin: 20px;
            font-size: 2rem;
        }
        .ad-subheading{
            text-indent: 60px;
            font-family: $accent-font;
            margin: 20px;
            font-size: 2rem;
        }
        .btn{
            align-items: center;
        }
    }
  .destination__subheading {
    font-family: $accent-font;
    font-size: 1.2rem;
    color: $color-primary;
  }
  .destiantion__country {
    padding: 0.3rem;
    .destiantion__details {
      img {
        border-radius: 10px;
        max-height: 250px;
      }
      .img-height{
        max-height: 508px;
      }
      .destiantion__countryname {

        color: $color-card-details-badge;
        text-shadow: 1px 1px 12px rgba(232,96,76,0.3);
        font-size: 2rem;
        bottom: 35px;
        left: 35px;
      }
    }
    
  }
}
