<section>
    <div class="bg">
        <div class="container">
            <h2 >Latest News</h2>
        </div>
        
    </div>
    <div class="container">
            
        <div class="row ">
            <div class="col-md-4 p-3">
                <div class="parent">
                    <div class="child1 rounded-2">
                    <div class="layer"><i class="fa-solid fa-plus fa-3x"></i></div>
                    <img src="./../../../../assets/news/news-one-img-1-24849fac.jpg" class="w-100" alt="">
                     <div class="box">
                        <p>28</p>
                        <p>AUG</p>
                     </div>
                    </div>
                    <div class="child2">
                        <h4 >Things to See and Do When Visiting Japan</h4>
                    </div>
                </div>

            </div>
            
            
        </div>
    </div>
</section>
