@import "../../../../styles/main";
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;

.dis-row {
  max-width: 90rem;
  margin: 0 auto;
  background-color: gray;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix;
  [class^="col"] {
    background-color: orangered;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-1-4 {
    width: calc((100% - #{$gutter-horizontal}) / 4);
  }
  .col-2-4 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 4);
  }
}
