<section>
    <div class="bg">
        <div class="container">
            <h2 >Latest News</h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8 p-5 ">
               <div class="parent border rounded-2">
                <img src="./../../../../assets/news/news-details-img-1.9602f65c.jpg" class="w-100" alt="">
                <div class="box">
                    <p>28</p>
                    <p>AUG</p>
                 </div>
               </div>
               <h2>Things to See and Do When Visiting Japan</h2>
               <p>Lorem ipsum available isn but the majority have suffered alteratin
                 in some or form injected. Lorem Ipsum. Proin gravida nibh vel velit auctor
                 aliqueenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                  ipsum, nec sagittis sem nibh id elit. vulputate cursus a sit amet mauris. 
                  Morbi accumsan ipsum veliam nec tellus a odio tincidunt auctor.</p>
               <p>Lorem ipsum available isn but the majority have suffered alteratin
                 in some or form injected. Lorem Ipsum. Proin gravida nibh vel velit auctor
                 aliqueenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                  ipsum, nec sagittis sem nibh id elit. vulputate cursus a sit amet mauris. 
                  Morbi accumsan ipsum veliam nec tellus a odio tincidunt auctor.</p>
               <p>Lorem ipsum available isn but the majority have suffered alteratin
                 in some or form injected. Lorem Ipsum. Proin gravida nibh vel velit auctor
                 aliqueenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                  ipsum, nec sagittis sem nibh id elit. vulputate cursus a sit amet mauris. 
                  Morbi accumsan ipsum veliam nec tellus a odio tincidunt auctor.</p>
            
               <p>Lorem ipsum available isn but the majority have suffered alteratin
                 in some or form injected. Lorem Ipsum. Proin gravida nibh vel velit auctor
                 aliqueenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                  ipsum, nec sagittis sem nibh id elit. vulputate cursus a sit amet mauris. 
                  Morbi accumsan ipsum veliam nec tellus a odio tincidunt auctor.</p>
              <hr>
              <div class="comment">
                <h3>3 Comments</h3>
                <div class="social">
                    <div  class="icon"><i class="fa-brands fa-facebook fa-2x"></i></div>
                    <div class="icon"><i class="fa-brands fa-twitter fa-2x"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram fa-2x"></i></div>
                    
                </div>
              </div>
              
              <div class="newParent">
                 <div class="container">
                    <div class="row ">
                        <div class="col-md-3">
                            <img src="./../../../../assets/testmonails/testimonial-one-img-2-55fef3a2.png" class=" w-100" alt="">
                        </div>
                        <div class="col-md-9 ps-4">
                            <h4>Christine Eve</h4>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged. It was popularised in the sheets containing.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row py-4">
                        <div class="col-md-3">
                            <img src="./../../../../assets/testmonails/testimonial-one-img-3-7f5ff7a3.png" class=" w-100" alt="">
                        </div>
                        <div class="col-md-9 ps-4">
                            <h4>Christine Eve</h4>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged. It was popularised in the sheets containing.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row py-4">
                        <div class="col-md-3">
                            <img src="./../../../../assets/testmonails/testimonial-one-img-1-e88e1b8d.png" class=" w-100" alt="">
                        </div>
                        <div class="col-md-9 ps-4">
                            <h4>Christine Eve</h4>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged. It was popularised in the sheets containing.</p>
                        </div>
                    </div>
                 </div>
              </div>
              <form action="" class="my-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox ">
                            <input type="text" placeholder="Name" class="form-control">
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox ps-2">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inputBox ">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Write comment" class="form-control"></textarea>
                    </div></div>
                </div>
                <button >Submit Comment</button>
              </form>
            </div>
            <div class="col-md-4">
                <div class="next">
                    <h4>Search</h4>
                    <input  class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                </div>
                <div class="next1">
                    <h4>Recent News</h4>
                    <ul>
                        <li >
                            <div class="next1-img"><img src="./../../../../assets/news/news-one-img-3-de2a706e.jpg"  alt=""></div>
                            <div class="content">
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                            </div>
                        </li>
                        <hr>
                        <li >
                            <div class="next1-img"><img src="./../../../../assets/news/news-one-img-3-de2a706e.jpg" alt=""></div>
                            <div class="content">
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                            </div>
                        </li>
                        <hr>
                        <li >
                            <div class="next1-img"><img src="./../../../../assets/news/news-one-img-3-de2a706e.jpg"  alt=""></div>
                            <div class="content">
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="next2">
                    <h4>All Categories</h4>
                    <ul>
                        <li>Trip & Tours</li>
                        <li>National Parks</li>
                        <li>Adventures</li>
                        <li>National Parks</li>
                        <li>Trip & Tours</li>
                
                    </ul>
                </div>
                <div class="next3">
                    <h4>Tags</h4>
                    <div class="hef">
                        <span>Beach</span>
                    <span>Musuem</span>
                
                    </div>
                    <div class="hef">
                        <span>Park</span>
                    <span>Adventure</span>
                    <span>Travelling</span>
                
                    </div>
                    <div class="hef">
                        <span>Travelling</span>
            
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

