@import "../abstracts/variables";

// font-family: 'DM Sans', sans-serif;//
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


// font-family: reey;//
@font-face {
  font-family: "reeyregular";
  src: url(../../assets/Reey-Regular.otf);
}

// Typography Styling //
$main-font: 'DM Sans', sans-serif;
$accent-font: "reeyregular";